@font-face {
    font-family: "Open Sans";
    src: url('../font/opensans-regular.eot');
    src: url('../font/opensans-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-regular.woff') format('woff'),
       url('../font/opensans-regular.ttf') format('truetype'),
       url('../font/opensans-regular.svg') format('svg');
}

@font-face {
    font-family: "Open Sans";
    font-weight: lighter;
    src: url('../font/opensans-light.eot');
    src: url('../font/opensans-light.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-light.woff') format('woff'),
       url('../font/opensans-light.ttf') format('truetype'),
       url('../font/opensans-light.svg') format('svg');
}

@font-face {
    font-family: "Open Sans Cond";
    font-weight: bold;
    src: url('../font/opensans-condbold.eot');
    src: url('../font/opensans-condbold.eot?#iefix') format('embedded-opentype'),
       url('../font/opensans-condbold.woff') format('woff'),
       url('../font/opensans-condbold.ttf') format('truetype'),
       url('../font/opensans-condbold.svg') format('svg');
}


@font-face {
    font-family: "League Gothic";
    src: url('../font/leaguegothic-regular.eot');
    src: url('../font/leaguegothic-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/leaguegothic-regular.woff') format('woff'),
       url('../font/leaguegothic-regular.ttf') format('truetype'),
       url('../font/leaguegothic-regular.svg') format('svg');
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?52378837');
  src: url('../font/fontello.eot?52378837#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?52378837') format('woff'),
       url('../font/fontello.ttf?52378837') format('truetype'),
       url('../font/fontello.svg?52378837#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
	background-image: url(../image/background1.png);
	background-size: 100%;
	margin: 0px;
	font-size:14px;
}

@media (max-width: 1200px) {
   body { font-size: 13px; }
}

@media (max-width: 1130px) {
   body { font-size: 12px; }
}

@media (max-width: 1070px) {
   body { font-size: 11px; }
}

@media (max-width: 1016px) {
   body { font-size: 10px; }
}

@media (max-width: 953px) {
   body { font-size: 9px; }
}

@media (max-width: 836px) {
   body { font-size: 8px; }
}

@media (max-width: 784px) {
   body { font-size: 7px; }
}
/* menu style */
.menu {
	background: rgba(0, 75, 142, 0.7);
	color: #fff;
	height: 43px;
	line-height: 43px;
	padding: 0 6.7%;
	font-size: 1.05em;
}

.menu__logo {
	display: inline-block;
	float: left;
	top: 10%;
	position: relative;
}

.menu__item {
	display: inline-block;
	float: right;
	margin: 0px 5px;
	font-family: Open Sans, sans-serif;
}

.menu__search {
	display: inline-block;
	float: right;
}

.menu__search:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	content: '\e800';
}

.menu__user {
	display: inline-block;
	float: right;
	font-family: Open Sans, sans-serif;
	font-weight: lighter;
	width: 12.9%;
}

.menu__user:before {
	border-left: 1px #fff solid;
	content: "";
	height: 80%;
	margin-right: 5px;
	margin-left: 5px;
}

.menu__user:after {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	content: '\e801';
}

/* JourneyBar style */
.JourneyBar {
	width: 100%;
	background: white;
	color: #094798;
	text-transform: uppercase;
	height: 6.8em;
	box-shadow: 0px 70px 100px -20px #000;
}

.JourneyBar__logo{
	position: relative;
	margin-left: 6.7%;
	height: 6.8em;
	border-left: 1px gray solid;
	border-right: 1px gray solid;
	width: 7.81%;
	text-align: center;
	line-height: 6.8em;
	float: left;
}

.JourneyBar__logo img {
	padding-top: 1.6em;
}

.JourneyBar__item {
	position: relative;
	display: inline-block;
	text-align: center;
	border-right: 1px gray solid;
	float: left;
}

.JourneyBar__item__name {
	font-family: Open Sans, sans-serif;
	font-size: 1.05em;
}


.JourneyBar__item__option {
	font-family: League Gothic, sans-serif;
	font-size: 3em;
}

.JourneyBar__item__arrow:after {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	font-size: 1.4em;
	text-align: center;
	content: '\e801';
}

.JourneyBar__from {
	width: 18.05%;
}

.JourneyBar__to {
	width: 18.22%;
}

.JourneyBar__date {
	width: 11.35%;
}

.JourneyBar__duration {
	width: 11.28%;
}

.JourneyBar__travelers {
	width: 9%;
}

.JourneyBar__search {
	width: 10.3%;
	height: 6.8em;
}

.JourneyBar__search-button {
	position: relative;
	color: #fff;
	background-color: #094798;
	text-align: center;
	font-family: League Gothic, sans-serif;
	font-size: 3em;
	width: 80%;
	margin: 0 auto;
	top: 25%;
}

/* For IE 8 support - shadows*/

/* main-scren style */
.main-screen {
	color: #fff;
	position:absolute;
	height: 100%;
	width: 100%;
	float: center;
	text-align: center;
	vertical-align: top;
	font-family: "Open Sans";
	background-color: rgba(0, 0, 0, 0.3);
}

.main-screen p {
	font-size: 1.4em;
}

.main-screen__header {
	text-transform: uppercase;
	font-family: Open Sans Cond, sans-serif;
    font-weight: bold;
    font-size: 5.76em;
    padding-top: 7%;
}

.main-screen__content{
	position: relative;
	width: 50%;
	margin: 0 auto;
	display: block;
}

.main-screen__button {
	position: relative;
	width: 30%;
	height: 48px;
	line-height: 48px;
	margin: 0 auto;
	background-color: #ffb900;
	display: block;
	text-transform: uppercase;
	font-size: 2em;
	font-family: Open Sans Cond, sans-serif;
    font-weight: bold;
}

.main-screen__button:after {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	font-size: 1em;
	width: 1em;
	text-align: center;
	content: '\e802';
}


/* dots style*/
.dots{
	vertical-align: bottom;
	float: right;
	margin-right: 6.7%;
	margin-top: 50px 
}

.dot {
	display: inline-block;
	border-radius: 50%;
	background-color: #fff;
	height: 13px;
	width: 13px;
	margin-left: 11px;
	border: 1px rgba(51, 51, 51, 0.2) solid;
}

.dot-active {
	background-color: #ffb900;
	height: 16px;
	width: 16px;
	border: 1px rgba(51, 51, 51, 0.2) solid;
}