.menu {
	background-image: url(../image/ie8-blue-shadow.png);
}

.main-screen {
	background-image: url(../image/ie8-shadow.png);
}

.vertical-shadow {
	background-image: url(../image/ie8-vertical-shadow.png);
	position: absolute;
	width: 100%;
	height: 120px;
}

.dot {
	display: inline-block;
	background-color: transparent;
	background-image: url(../image/white-dot.png);
	height: 13px;
	width: 13px;
	margin-left: 11px;
	border: none;
}

.dot-active {
	background-image: url(../image/orange-dot.png);
	height: 16px;
	width: 16px;
	border: none;
}